.main {
  min-height: 80vh;
  display: grid;
  place-content: center;
  background-color: #efe1e18a;
}
.howdy {
  font-family: monospace;
  font-size: 16px;
  color: rgb(32, 218, 196);
  
}
.goToAbout {
  color: rgb(255, 213, 0);
  text-decoration: underline;
}



